*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: outfit;
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: young-serif;
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2e5d8;
}

.container {
  background-color: #fefdfd;
  border-radius: 25px;
  max-width: 60%;
  margin: 5em auto;
  padding: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'young-serif';
  font-weight: 400;
}

header h1 {
  font-size: 3em;
}

p {
  font-family: 'outfit';
  font-weight: 400;
  line-height: 1.5;
  color: #5a5a5a;
  margin-top: 0;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.preparation {
  background-color: #fff7fc;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}

.preparation .header {
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'outfit';
  color: purple;
  margin-bottom: 0;
}

.preparation-list {
  padding-left: 10px !important;
  line-height: 2;
  font-family: 'outfit';
}

.preparation-list li {
  list-style: none;
  position: relative;
  color: #5a5a5a;
}

.preparation-list li::before {
  content: '\2022';
  color: purple;
  font-weight: bold;
  margin-right: 20px;
}

.ingredients .header,
.instructions .header,
.nutrition .header {
  font-size: 1.8em;
  font-family: 'young-serif';
  color: #7e4835;
  margin: 0;
}

.ingredient-list {
  padding-left: 10px !important;
  line-height: 2;
  font-family: 'outfit';
}

.ingredient-list li {
  list-style: none;
  position: relative;
  color: #5a5a5a;
}

.ingredient-list li::before {
  content: '\2022';
  color: #7e4835;
  font-weight: bold;
  margin-right: 1.8em;
}

hr {
  margin: 2em 0;
}

.instructions ol {
  padding-left: 12px !important;
  line-height: 1.6;
  font-family: 'outfit';
}

.instructions ol li {
  list-style: none;
  display: flex !important;
  align-items: flex-start;
  counter-increment: my-li;
  gap: 12px;
  margin-bottom: 0.5em;
  color: #5a5a5a;
}

.instructions ol li::before {
  content: counter(my-li) '.';
  color: #7e4835;
  text-align: left;
  min-width: 1.5em;
  font-weight: bold;
  flex-shrink: 0;
}

.nutrition table {
  min-width: 100%;
  font-family: 'outfit';
  margin-bottom: 2em;
  border-collapse: collapse;
}

.nutrition table tr:nth-child(-n + 3) {
  border-bottom: 1px solid #a6a6a6 !important;
}

.nutrition table tr td {
  padding-left: 2em !important;
  padding: 18px 0;
}

.nutrition .label {
  color: #5a5a5a;
}

.nutrition .value {
  color: #7e4835;
  font-weight: bold;
}

/* media queries */

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 20px;
  }

  header h1 {
    font-size: 2.5em;
  }

  .preparation .header,
  .ingredients .header,
  .instructions .header,
  .nutrition .header {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .container {
    min-width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  .img-fluid {
    border-radius: 0;
  }

  header h1 {
    font-size: 2em;
  }

  .preparation .header,
  .ingredients .header,
  .instructions .header,
  .nutrition .header {
    font-size: 1.2em;
  }

  header h1,
  p {
    padding: 0 15px;
  }

  .preparation,
  .ingredients,
  .instructions,
  .nutrition {
    padding: 15px !important;
  }

  .ingredient-list {
    padding-left: 20px !important;
  }

  .instructions ol {
    padding-left: 20px !important;
  }

  .instructions ol li {
    gap: 8px;
  }
}
